# Carpeta de dependencias
node_modules/

# Archivos de compilación
/dist

# Archivos de entorno local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Otros archivos generados automáticamente
.cache
.log
.vercel
